*__pycache__*
.DS_Store
enz_venv
*slurm*
data/IRed/srired_active_data.csv
data/MID1/mid_filtered.csv
data/ZymCTRL
eval_plots
gen_data
datasets
datasets_unlabelled
wandb
notebooks/model_training_generation.ipynb
